pkgbase = tic-tac-toe-c
	pkgdesc = Terminal-based Tic Tac Toe game in C with WASD/arrow key controls
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/iaguinho1727/tic-tac-toe-c
	arch = x86_64
	license = Apache-2.0
	makedepends = gcc
	makedepends = autoconf
	depends = glibc
	source = tic-tac-toe-c-0.0.1.tar.gz::https://github.com/iaguinho1727/tic-tac-toe-c/archive/v0.0.1.tar.gz
	sha256sums = 546959e471d4b3730c16d27e26237cd627704038c2dfc0272add0d2e374014e8

pkgname = tic-tac-toe-c
